
<ion-view view-title="找回密码" class="login-page">
    <header class="header-box">
        <div class="left" ng-click="goBack()"><i class="icon iconfont icon-xiangzuojiantou"></i></div>
        <div class="page-title">找回密码</div>
        <!-- <div class="right"><i class="icon ion-ios-arrow-right"></i></div> -->
    </header>

      <div class="header-box-shadow"></div>
      <div class="header-box-border"></div>
      <form name="dataForm" novalidate="novalidate" ng-submit="save(dataForm);">
        <div class="list list-inset">
          <label class="item item-input login-input">
            <i class="icon ion-iphone placeholder-icon"></i>
            <input type="text" name="mobile" ng-pattern="mobileRegx" valid-method="onblur" ng-model="data.mobile" ng-blur="mobile=true" ng-focus="mobile=false" required placeholder="请输入手机号码" >
            <span class="error" ng-show="mobile && dataForm.mobile.$error.required">*手机号不能为空</span>
            <span ng-show="dataForm.mobile.$error.pattern&&mobile">*非法的手机号码</span>
            <i class="icon ion-ios-close-empty placeholder-icon"></i>
          </label>
          <label class="item item-input login-input">
            <i class="icon ion-iphone placeholder-icon" style="width: 30px;"></i>
            <input type="text" name="captcha" ng-model="data.captcha"  required placeholder="请输入验证码" ng-focus="getCaptcha(); " >
            <div id="captcha">{{codeText}}</div>
          </label>

          <label class="sumbit-button">
            <button type="submit" ng-disabled="dataForm.$invalid">下一步</button>
          </label>
        </div>
      </form>


</ion-view>
