
<ion-view view-title="我的家" class="myhouse1-page">
    <header class="header-box">
        <div class="left" ng-click="goBack()"><i class="icon iconfont icon-xiangzuojiantou"></i></div>
        <div class="page-title">我的家</div>
        <!-- <div class="right"><i class="icon ion-ios-arrow-right"></i></div> -->
    </header>

    <ion-content on-swipe-left="onSwipeLeft()" class="myhouse-page">
        <div class="header-box-shadow"></div>
        <div class="box">
            <img class="pic" src="./img/12.jpg">
            <div class="title">掌上家一站式装修服务</div>
            <img class="down" src="./img/down.png">
            <div class="num">1</div>
            <div class="dec">服务介绍服务介绍服务介绍</div>
            <div class="num">2</div>
            <div class="dec">服务介绍服务介绍服务介绍</div>
            <div class="num">3</div>
            <div class="dec">服务介绍服务介绍服务介绍</div>

            <div class="tip">*赶紧预约，装修您的家吧！</div>
        </div>
        <div class="btn" ui-sref="yuyue1">报名预约</div>
        <p class="go-login" ui-sref="login">立即登录</p>
    </ion-content>
</ion-view>
