<ion-view view-title="地图" class="houseshow-page">
 	<header class="header-box">
        <div class="left" ng-click="goBack()"><i class="icon iconfont icon-xiangzuojiantou"></i></div>
        <div class="page-title">地图</div>
        <div class="right"><i class="icon iconfont icon-sousuo"></i></div>
    </header>
	<div id="allmap"></div>
	<div id="r-result" ng-show="isShow">
		<div class="left"><img src="./img/deco.png"></div>
		<div class="right">
			<div class="name">G3-01</div>
			<div class="dec">新中式·二室一厅·实木</div>
			<div class="adress"><i class="icon iconfont icon-dibiaotianchong"></i>地址地址地址地址</div>
		</div>
	</div>

</ion-view>
