<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" class="mall-page">
	<!-- <ion-content scroll="true" overflow-scroll="true">
      <iframe data-tap-disabled="true" style="min-height:100%;width:100%;" ng-src="{{paySrc}}"></iframe>
    </ion-content>  -->
	<!-- <header class="header">
        <div class="search">
        <div class="search-ico"><i class="icon ion-ios-search"></i></div>
        <input type="text" placeholder="" />
        </div>
        <div class="search-btn"><i class="icon ion-ios-cart-outline"></i></div>
    </header>
    <ul class="nav-box">
    	<li class="active">全部</li>
    	<li>北欧</li>
    	<li>现代</li>
    	<li>欧美</li>
    	<li>新中式</li>
    </ul>
    <div class="header-box-shadow"></div>
    <ion-scroll  id="myscroll" ng-style="grid_height">

    	<div class="slide-box">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="2000">
		  <ion-slide>
		    <a href=""><img src="./img/750-365-1.png"  /></a>
		  </ion-slide>
		  <ion-slide>
		    <a href=""><img src="./img/750-365-2.png"  /></a>
		  </ion-slide>
		  <ion-slide>
		    <a href=""><img src="./img/750-365-3.png"  /></a>
		  </ion-slide>
		</ion-slide-box>
		</div>
		<ol class="classify">
        	<li class="active">全部</li>
        	<li>全部</li>
        	<li>全部</li>
        	<li>全部</li>
        	<li>全部</li>
        	<li>全部</li>
        </ol>
        <div class="recommend">
        	<h2><span>丨&nbsp;</span>品牌推荐</h2>
        	<ul class="nav-box2">
		    	<li class="active">全部</li>
		    	<li>北欧</li>
		    	<li>现代</li>
		    	<li>欧美</li>
		    	<li>新中式</li>
		    </ul>
		    <div class="recommend-list">
		    	<div class="pic"><img src="./img/deco.png"></div>
		    	<div class="left">
		    		<p>北欧时光</p>
		    		<span>收费方法发生地方发大幅度</span>
		    	</div>
		    	<div class="right">进入品牌</div>
		    </div>
		    <div class="recommend-list">
		    	<div class="pic"><img src="./img/deco.png"></div>
		    	<div class="left">
		    		<p>北欧时光</p>
		    		<span>收费方法发生地方发大幅度</span>
		    	</div>
		    	<div class="right">进入品牌</div>
		    </div>
        </div>
    </ion-scroll> -->

    <ion-content scroll="true" overflow-scroll="true">
        <iframe data-tap-disabled="true" style="min-height: 100%;width: 100%;" ng-src="{{paySrc}}"></iframe>
    </ion-content>


</ion-view>
