<ion-view view-title="购物车" class="shopcar-page">
	<!-- <div class="div" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
		<div class="left">111111</div>
		<div class="right">删除</div>
	</div> -->
	<header class="header-box">
        <div class="left" ng-click="goBack()"><i class="icon iconfont icon-xiangzuojiantou"></i></div>
        <div class="page-title">套餐名称</div>
        <div class="right">管理</div>
    </header>
    <div class="header-box-shadow"></div>
<ul>
	<li class="item item-checkbox" on-drag-left="onSwipeLeft($event)">
        <label class="checkbox checkbox-light">
            <input class="ionic-check-box" type="checkbox" />
        </label>
        <div class="list-left">
        	111111111
        </div>
        <div class="list-right">
        	222222
        </div>
    </li>
   <!--  <div class="list-right">
        	222222
        </div>  -->
</ul>

	<div class="footer-box-shadow"></div>
	<footer class="footer-box">
    	<div class="footer-btn1">收藏</div>
    	<div class="footer-btn2">结算</div>
    </footer>
</ion-view>
