
<ion-view view-title="我的合同" class="myContract-page">
    <header class="header-box">
        <div class="left" ng-click="goBack()"><i class="icon iconfont icon-xiangzuojiantou"></i></div>
        <div class="page-title">我的合同</div>
        <!-- <div class="right"><i class="icon ion-ios-arrow-right"></i></div> -->
    </header>

    <ion-content on-swipe-left="onSwipeLeft()" class="myhouse-page">
        <div class="header-box-shadow"></div>

        <ul>
            <li>
                <div class="left">
                    <span>《房屋合同》</span><br />
                    <span>2017-05-01</span>
                </div>
                <div class="right">
                    <span>收款支付</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </li>
            <li>
                <div class="left">
                    <span>《房屋合同》</span><br />
                    <span>2017-05-01</span>
                </div>
                <div class="right">
                    <span>收款支付</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </li>
            <li>
                <div class="left">
                    <span>《房屋合同》</span><br />
                    <span>2017-05-01</span>
                </div>
                <div class="right">
                    <span>收款支付</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </li>
            <li>
                <div class="left">
                    <span>《房屋合同》</span><br />
                    <span>2017-05-01</span>
                </div>
                <div class="right">
                    <span>收款支付</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </li>
        </ul>

    </ion-content>
</ion-view>
