<ion-tabs class="tabs-icon-top tabs-color-active-yellow">
    <ion-tab title="首页" icon-on="icon iconfont icon-home" icon-off="icon iconfont icon-home1" ui-sref="tab.home">
        <ion-nav-view animation="slide-left-right" name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="共享家" icon-on="icon iconfont icon-weibiaoti-" icon-off="icon iconfont icon-laiwojia" ui-sref="tab.houseshow">
        <ion-nav-view animation="slide-left-right" name="tab-houseshow"></ion-nav-view>
    </ion-tab>
    <ion-tab title="商城" icon-on="icon iconfont icon-shangcheng2" icon-off="icon iconfont icon-tubiaolunkuohua-" ui-sref="tab.mall">
        <ion-nav-view animation="slide-left-right" name="tab-mall"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-off="icon iconfont icon-ren1" icon-on="icon iconfont icon-ren" ui-sref="tab.my">
        <ion-nav-view animation="slide-left-right" name="tab-my"></ion-nav-view>
    </ion-tab>
</ion-tabs>
